# PHP Storm
/.idea/

# MAC OS
*.DS_Store
/**/*.DS_Store

# npm
node_modules

# Bitrix
/bitrix/*
!/bitrix/components/
/bitrix/components/bitrix/
!/bitrix/templates/
/bitrix/templates/landing/

!/bitrix/modules/
/bitrix/modules/abtest/
/bitrix/modules/acrit.exportpro/
/bitrix/modules/advertising/
/bitrix/modules/b24connector/
/bitrix/modules/bitrix.sitepersonal/
/bitrix/modules/bitrix.xscan/
/bitrix/modules/bitrixcloud/
/bitrix/modules/bizproc/
/bitrix/modules/bizprocdesigner/
/bitrix/modules/blog/
/bitrix/modules/calendar/
/bitrix/modules/catalog/
/bitrix/modules/clouds/
/bitrix/modules/cluster/
/bitrix/modules/conversion/
/bitrix/modules/currency/
/bitrix/modules/eshopapp/
/bitrix/modules/fileman/
/bitrix/modules/form/
/bitrix/modules/forum/
/bitrix/modules/highloadblock/
/bitrix/modules/iblock/
/bitrix/modules/idea/
/bitrix/modules/im/
/bitrix/modules/landing/
/bitrix/modules/ldap/
/bitrix/modules/learning/
/bitrix/modules/lists/
/bitrix/modules/mail/
/bitrix/modules/main/
/bitrix/modules/messageservice/
/bitrix/modules/mobileapp/
/bitrix/modules/perfmon/
/bitrix/modules/photogallery/
/bitrix/modules/pull/
/bitrix/modules/report/
/bitrix/modules/rest/
/bitrix/modules/sale/
/bitrix/modules/scale/
/bitrix/modules/search/
/bitrix/modules/security/
/bitrix/modules/sender/
/bitrix/modules/seo/
/bitrix/modules/sotbit.seometa/
/bitrix/modules/socialnetwork/
/bitrix/modules/socialservices/
/bitrix/modules/scrollup.bxd/
/bitrix/modules/statistic/
/bitrix/modules/storeassist/
/bitrix/modules/subscribe/
/bitrix/modules/support/
/bitrix/modules/translate/
/bitrix/modules/ui/
/bitrix/modules/webservice/
/bitrix/modules/wiki/
/bitrix/modules/workflow/


!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
/bitrix/php_interface/after_connect*
/bitrix/.settings.php
/bitrix/.settings_extra.php

# Upload
/upload/

# Files
*.min.min.*
*.log
*.html
*.csv
*.xml
*.sql
*.txt
*.dt
*.gz
*.tar
*.tar.gz
*.bak
*.old
test*
.htaccess
.htaccess.restore
.htsecure
.htpasswd
/web.config

# Composer vendors
/vendor/
/local/php_interface/vendor/

# Logs
/log

*.back*

#Other
/xlam/
*install/*

