.modal_main form input[type="submit"] {
	border: 1px solid #0dc83d;
	background: #0dc83d;
	color: #fff;
}
.modal_main h3{
	color: #0dc83d;
}
.modal_main h3 span{
	color: #f5b730;
}
.button_ok{
	border: 1px solid #0dc83d;
	background-color: #0dc83d;
	color: #fff;
}
.modal_main form input[type="submit"]:hover, .button_ok:hover{
	border: 1px solid #27e659;
	background: #27e659;
}
/**/
.sc-modal {
	background: url('images/bg-top-green.png') right 0 no-repeat;
}
.sc-modalInner {
	background: url('images/bg-bottom-green.png') 0 bottom no-repeat;
}
.sc-toggle {
	background: url('images/bg-toggle-green.png') 0 0 no-repeat;
}
.sc-mail {
    background: url('images/icon-mail-green.png') center 67px no-repeat;
}
.sc-gift {
	background: url('images/icon-gift-green.png') 0 0 no-repeat;	
}
.sc-modalHead p {
	color: #4EC156;
}
.sc-toggle,
.sc-row2,
.sc-row3,
.sc-mail {
	color: #3F9E45;
}
.sc-modal input[type="submit"],
.sc-mailBtn {
	background: #3F9E45;
}
.sc-muted a, .sc-muted a:hover {
	color:#3F9E45;
}